<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="Module.js"></script>
</head>
<body ng-controller="myController">
    <!-- $location Services -->
    <!-- <h2>{{ Url }}</h2>
    <h2>{{ Protocol }}</h2>
    <h2>{{ Host }}</h2>
    <h2>{{ Port }}</h2> -->

    <!-- $interval Services -->
    <!-- <h2>{{ count }}</h2> -->
    <!-- <h2>{{ dateAndTime }}</h2> -->
    <!-- use filter concept here -->
    <!-- <h2>{{ dateAndTime | date:"dd-MM-y hh:mm:ss a" }}</h2> -->

    <!-- $timeout Servises -->
    <!-- <h2>{{ name }}</h2> -->

    <!-- $window Services -->
    <!-- <input type="text" placeholder="Enter Your Name" ng-model="name"> -->

    <!-- <input type="button" value="Click to See Alert" ng-click="DisplayAlert('Hello Everyone')"> -->
    <!-- input se message lena hain -->
    <!-- <input type="button" value="Click to See Alert" ng-click="DisplayAlert(name)"> -->


    <!-- <input type="button" value="Click to See Prompt" ng-click="DisplayPrompt()"> -->

    <input type="button" value="Click to Add" ng-click="Add()">

</body>
</html>