<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        /* body{
            background-color: {{color}};
        } */
        /* p{
            font-size: {{size}};
        } */
    </style>
</head>
<body>
    
    <!-- <input type="text" placeholder="Enter your name" ng-model="name"> -->
    <!-- <input type="text" placeholder="Enter name of any color" ng-model="color"> -->
    <!-- <br><br> -->
    <!-- <h1>Your Name is : {{ name }} </h1> -->
    <!-- <h1 ng-bind="name"></h1> -->
    <!-- <input type="text" placeholder="Enter font size" ng-model="size">
    <p>Welcome to AngularJs</p> -->

    <!-- <textarea ng-model="txt" cols="30" rows="10"></textarea>
    <br><br>
    <h2 ng-bind="txt"></h2> -->

    <select ng-model="emp_name">
        <option value="Shivaji">Shivaji</option>
        <option value="Abhishek">Abhishek</option>
        <option value="Prabhat">Prabhat</option>
    </select>
    <br><br>
    <h2 ng-bind="emp_name"></h2>
</body>
</html>